/* Incluir o preenchimento e a borda na largura e altura totais de um elemento */
* {
    box-sizing: border-box;
  }
  
  /* Remover margens e preenchimento da lista */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* formatar a lista */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* tornar os itens da lista não selecionáveis */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Definir todos os itens da lista ímpar para uma cor diferente */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /*Cor de fundo mais escura em foco */
  ul li:hover {
    background: #ddd;
  }
  
  /* Cor de fundo mais escura em foco */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Adicione uma marca "marcada" quando clicou em */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* estilo do botão */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: gray;
    color: white;
  }
  
  /* estilo do header */
  .header {
    background-color: cornflowerblue;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* limpar o cabeçalho */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* estilo do input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* estilo do adicionar botão  */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }

  
  .addBtn:hover {
    background-color: #bbb;
  }
  .borda{
      border-bottom-style: none;
      background-color: gray;
  }
  body{
      background: cornflowerblue; 
  }
  .attBtn{
  padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    }
.attBtn:hover {
  background-color: #bbb;
}
.orBtn{
  padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    }
.orBtn:hover {
  background-color: #bbb;
}
.buscarBtn{
  padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    }
.buscarBtn:hover {
  background-color: #bbb;
}
